<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Página não encontrada</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/getit.css" />
  </head>

  <body>
    <header class="appbar">
      <img
        src="/img/logo-getit.png"
        class="logo"
        alt="Logotipo do Get-it"
      />
      <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </header>

    <main class="container">
      <section class="not-found">
        <strong>404</strong>
        <h1>Página não encontrada</h1>
        <p>Essa página não existe</p>
        <a class="btn not-found-button" href="/">Voltar para o início</a>
      </section>
    </main>
  </body>
</html>