<div class="card">

    <a
    class="card-favorite {favorite_class}"
    href="/favorite/{id}"
    aria-label="{favorite_label}"
    title="{favorite_label}"
  >
    {favorite_icon}
  </a>

  <h3 class="card-title">{title}</h3>

  <div class="card-content">
    <p>{details}</p>
  </div>

<a
  class="card-edit"
  href="/edit/{id}"
  aria-label="Editar anotação"
  title="Editar anotação"
>
  <img src="/img/editar.png" alt="" />
</a>

  <a
  class="card-delete"
  href="/delete/{id}"
  aria-label="Excluir anotação"
  title="Excluir anotação"
>
  <img src="/img/lixo.png" alt="" />
</a>

</div>